include README.md
include requirements.txt
graft spideradmin/static
graft spideradmin/templates
graft spideradmin/api_app
graft spideradmin/html_app
graft spideradmin/scheduler_app
graft image
global-include *.py
global-exclude *.pyc
global-exclude *.log
global-exclude *.db
global-exclude *.sqlite
