<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base target="_blank">
    <title>Spider-Admin</title>

    <link href="/static/bootstrap@3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/js/jquery@3.4.1.min.js"></script>
	<script src="/static/bootstrap@3.3.7/js/bootstrap.min.js"></script>

</head>
<style>
    body{
        width: 90%;
        margin: 0 auto;
{#        font-size: 14px;#}
    }
</style>
<body>

{% include "message.html" %}

<!-- 头部导航开始-->
<div class="header">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand" href="/">首页</a>

            </div>
        </div>
    </nav>
</div>
<!-- 头部导航结束-->


{% block content %}
    <!-- 主体内容 -->
{% endblock %}
</body>

</html>